* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: rgb(25, 25, 27);
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Updated to ensure no unwanted top space */
.left .code {
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.code pre {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start; /* Align to top */
}

.code pre code {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  width: 100%;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
}

main .right {
  background-color: #e8e8e89f;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}
